@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.inner {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.inner .txt_box {
  text-align: right;
}

.section {
  height: 100vh;
  color: #fff;
  overflow: hidden;
}
.section h2 {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  writing-mode: vertical-rl;
  color: #fff;
  opacity: 0;
}
.section.on h2 {
  opacity: 1;
}

p {
  font-size: 1.6rem;
}

._bg {
  background: url(../../images/bg_r.png);
  background-blend-mode: multiply;
  background-color: #444;
  z-index: 0;
}

::-moz-selection {
  background: #ffd900;
  color: #000;
}

::selection {
  background: #ffd900;
  color: #000;
}

#cursor {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  pointer-events: none;
}
#cursor .cursor__inner {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  transition: 0.5s;
}

.poin .cursor__inner {
  background: #ffd900;
}

@media (max-width: 768px) {
  .section {
    height: 100vh;
  }
  .section h2 {
    position: absolute;
    top: 2rem;
    right: 1.2rem;
    writing-mode: vertical-rl;
    color: #fff;
    opacity: 0;
    font-size: 1.5rem;
  }
  .section.on h2 {
    opacity: 1;
  }
  #cursor {
    display: none;
  }
  #cursor .cursor__inner {
    display: none;
  }
  .poin .cursor__inner {
    display: none;
  }
  ._bg {
    background: url(../../images/bg_r.png);
    background-blend-mode: inherit;
    z-index: 0;
  }
}
.btn_link {
  position: fixed;
  top: 15rem;
  right: 1.1rem;
  z-index: 999;
}
.btn_link ul {
  position: relative;
}
.btn_link ul li {
  padding: 0 1.8rem;
}
.btn_link ul li.on a::before {
  height: 6vh;
  background: #fff;
}
.btn_link ul li a {
  position: relative;
  display: block;
  width: 0.2rem;
  height: 6vh;
  font-size: 0;
  background: #ddd;
}
.btn_link ul li a::before {
  transition: linear 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.5rem;
  height: 0;
  background: #ffd900;
}

@media (max-width: 768px) {
  .btn_link {
    position: fixed;
    top: 15rem;
    right: 0;
    z-index: 999;
  }
  .btn_link ul {
    position: relative;
  }
  .btn_link ul li {
    padding: 0 1.8rem;
  }
  .btn_link ul li.on a::before {
    height: 6vh;
    background: #fff;
  }
  .btn_link ul li a {
    position: relative;
    display: block;
    width: 0.2rem;
    height: 6vh;
    font-size: 0;
    background: #ddd;
  }
  .btn_link ul li a::before {
    transition: linear 0.5s;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0.5rem;
    height: 0;
    background: #ffd900;
  }
}
.int {
  background: #111;
  z-index: -1;
  color: #f9f9f9;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.int::before {
  content: "";
  position: absolute;
  top: 70vh;
  left: 14vw;
  width: 1px;
  height: 180rem;
  background: #fff;
  transform-origin: left top;
  transform: rotate(-81deg);
}
.int::after {
  content: "";
  position: absolute;
  top: 70vh;
  left: 14vw;
  width: 1px;
  height: 40rem;
  background: rgb(255, 255, 255);
  transform-origin: right top;
  transform: rotate(65deg);
}
.int .gooey {
  filter: url(#goo);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.int .gooey::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffffff;
  transform: rotate(45deg);
  animation: before 5s linear infinite;
}
.int .gooey::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffd900;
  transform: rotate(45deg);
  animation: after 5s linear infinite;
}
@keyframes before {
  0% {
    top: -40px;
    left: 13.9vw;
    border-radius: 50%;
  }
  97% {
    top: 69.5vh;
    left: 13.8vw;
    width: 10px;
    height: 10px;
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    top: 68vh;
    left: 12vw;
    width: 15px;
    height: 15px;
    opacity: 0;
  }
}
@keyframes after {
  0% {
    top: -40px;
    left: 13.9vw;
    border-radius: 50%;
  }
  97% {
    top: 70vh;
    left: 13.8vw;
    width: 10px;
    height: 10px;
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    top: 68vh;
    left: 15vw;
    width: 15px;
    height: 15px;
    opacity: 0;
  }
}
.int .inner {
  text-align: right;
}
.int .inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 14vw;
  width: 1px;
  height: 70vh;
  background: #fff;
}
.int .inner h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0 2.4rem 0;
}
.int .inner p {
  margin: 0 0 20rem 0;
  line-height: 1.5;
}
.int .inner p span {
  position: relative;
  color: #000;
  font-weight: 500;
}
.int .inner p span::before {
  content: "";
  width: 105%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFDB00;
}

@media (max-width: 1600px) {
  .int {
    background: #000;
    z-index: -1;
    color: #f9f9f9;
    overflow: hidden;
  }
  .int::before {
    content: "";
    position: absolute;
    top: 70vh;
    left: 14vw;
    width: 1px;
    height: 180rem;
    background: #fff;
    transform-origin: left top;
    transform: rotate(-81deg);
  }
  .int::after {
    content: "";
    position: absolute;
    top: 70vh;
    left: 14vw;
    width: 1px;
    height: 40rem;
    background: rgb(255, 255, 255);
    transform-origin: right top;
    transform: rotate(65deg);
  }
  .int .gooey {
    filter: url(#goo);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .int .gooey::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ffffff;
    transform: rotate(45deg);
    animation: before 5s linear infinite;
  }
  .int .gooey::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ffd900;
    transform: rotate(45deg);
    animation: after 5s linear infinite;
  }
  @keyframes before {
    0% {
      top: -40px;
      left: 13.8vw;
      border-radius: 50%;
    }
    97% {
      top: 69.5vh;
      left: 13.8vw;
      width: 10px;
      height: 10px;
      transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      top: 68vh;
      left: 12vw;
      width: 15px;
      height: 15px;
      opacity: 0;
    }
  }
  @keyframes after {
    0% {
      top: -40px;
      left: 13.8vw;
      border-radius: 50%;
    }
    97% {
      top: 70vh;
      left: 13.8vw;
      width: 10px;
      height: 10px;
      transform: rotate(-360deg);
      opacity: 1;
    }
    100% {
      top: 68vh;
      left: 15vw;
      width: 15px;
      height: 15px;
      opacity: 0;
    }
  }
  .int .inner {
    text-align: right;
    padding: 0 8rem 0 0;
  }
  .int .inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 14vw;
    width: 1px;
    height: 70vh;
    background: #fff;
  }
  .int .inner h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 2.4rem 0;
  }
  .int .inner p {
    margin: 0 0 20rem 0;
    line-height: 1.5;
  }
  .int .inner p span {
    position: relative;
    color: #000;
    font-weight: 500;
  }
  .int .inner p span::before {
    content: "";
    width: 105%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFDB00;
  }
}
@media (max-width: 768px) {
  .int {
    background: #000;
    z-index: -1;
    color: #f9f9f9;
    overflow: hidden;
  }
  .int::before {
    content: "";
    position: absolute;
    top: 70vh;
    left: 14vw;
    width: 1px;
    height: 180rem;
    background: #fff;
    transform: rotate(-81deg);
  }
  .int::after {
    content: "";
    position: absolute;
    top: 70vh;
    left: 14vw;
    width: 1px;
    height: 40rem;
    background: rgb(255, 255, 255);
    transform-origin: right top;
    transform: rotate(65deg);
  }
  .int .gooey {
    filter: url(#goo);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .int .gooey::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff2de;
    transform: rotate(45deg);
    animation: before 5s infinite;
  }
  .int .gooey::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ffd900;
    transform: rotate(45deg);
    animation: after 5s infinite;
  }
  @keyframes before {
    0% {
      top: -43px;
      left: 13.5vw;
      border-radius: 50%;
    }
    97% {
      top: 69.4vh;
      left: 13vw;
      width: 1rem;
      height: 1rem;
      transform: rotate(360deg);
      border-radius: 50%;
      opacity: 1;
    }
    98% {
      top: 68vh;
      left: 10vw;
      width: 4rem;
      height: 4rem;
      opacity: 0.2;
    }
    100% {
      top: 64vh;
      left: 4vw;
      width: 8rem;
      height: 8rem;
      opacity: 0;
    }
  }
  @keyframes after {
    0% {
      top: -40px;
      left: 13.5vw;
      border-radius: 50%;
    }
    97% {
      top: 69.5vh;
      left: 13vw;
      width: 10px;
      height: 10px;
      transform: rotate(-360deg);
      background: #ffd900;
      border-radius: 0;
      opacity: 1;
    }
    98% {
      top: 68vh;
      left: 10vw;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      opacity: 0.2;
    }
    100% {
      top: 64vh;
      left: 4vw;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      opacity: 0;
      background: #fff;
    }
  }
  .int .inner {
    text-align: right;
  }
  .int .inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 14vw;
    width: 1px;
    height: 70vh;
    background: #fff;
  }
  .int .inner .title {
    position: absolute;
    right: 5.6rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  .int .inner .title h1 {
    font-size: 8vw;
    font-weight: 900;
    margin: 0 0 1.6rem 0;
  }
  .int .inner .title p {
    font-size: 3vw;
    margin: 0 0 0 0;
    line-height: 1.5;
  }
  .int .inner .title p span {
    font-size: 3vw;
    position: relative;
    color: #000;
    font-weight: 500;
  }
  .int .inner .title p span::before {
    content: "";
    width: 105%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFDB00;
  }
}
.po01 {
  background: url(../../images/sec01_bg.png) no-repeat fixed center top/cover;
  background-blend-mode: multiply;
  background-color: #222;
}
.po01 .color span {
  background: #F5E8DF;
  color: #222;
}

.po02 {
  background: url(../../images/sec02_bg.jpg) no-repeat fixed center top/cover;
  background-blend-mode: multiply;
  background-color: #222;
}
.po02 .color span {
  background: #132E27;
}

.po03 {
  background: url(../../images/sec03_bg.jpg) no-repeat fixed center top/cover;
  background-blend-mode: multiply;
  background-color: #222;
}
.po03 .color span {
  background: #BFAE90;
  color: #222;
}

.po04 {
  background: url(../../images/sec04_bg.png) no-repeat fixed center top/cover;
  background-blend-mode: multiply;
  background-color: #222;
}
.po04 .color span {
  background: #b80101;
}

.po05 {
  background: url(../../images/sec05_bg.jpg) no-repeat fixed center top/cover;
  background-blend-mode: multiply;
  background-color: #222;
}
.po05 .color span {
  background: #00a256;
}

.po06 {
  background: url(../../images/sec06_bg.jpg) no-repeat fixed center top/cover;
  background-blend-mode: multiply;
  background-color: #222;
}
.po06 .color span {
  background: #02652f;
}

@media (max-width: 768px) {
  .po01 {
    background: url(../../images/sec01_bg.png) no-repeat center top/cover;
  }
  .po01 .color span {
    background: #F5E8DF;
    color: #222;
  }
  .po02 {
    background: url(../../images/sec02_bg.jpg) no-repeat center top/cover;
  }
  .po02 .color span {
    background: #132E27;
    outline: 1px solid #888;
  }
  .po03 {
    background: url(../../images/sec03_bg.jpg) no-repeat center top/cover;
  }
  .po03 .txt .list .font {
    margin: 0 0 1.5rem 0;
  }
  .po03 .txt .list .tools {
    margin: 0 0 -2rem 0;
  }
  .po03 .color span {
    background: #BFAE90;
    color: #222;
  }
  .po04 {
    background: url(../../images/sec04_bg.png) no-repeat 80% top/cover;
  }
  .po04 .txt .list .font {
    margin: 0 0 1.5rem 0;
  }
  .po04 .txt .list .color {
    margin: 0 0 0.2rem 0;
  }
  .po04 .txt .list .tools {
    margin: 0 0 -2.2rem 0;
  }
  .po04 .color span {
    background: #b80101;
  }
  .po05 {
    background: url(../../images/sec05_bg.jpg) no-repeat right top/cover;
  }
  .po05 .txt .list .tools {
    margin: 0 0 -2.2rem 0;
  }
  .po05 .color span {
    background: #00a256;
  }
  .po06 {
    background: url(../../images/sec06_bg.jpg) no-repeat center top/cover;
  }
  .po06 .color span {
    background: #02652f;
  }
}
.pofol {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pofol .img_box {
  z-index: 999;
}
.pofol .img_box img {
  margin: 0 3rem 0 0;
  border-radius: 2rem;
  filter: brightness(80%);
  visibility: hidden;
}
.pofol .img_box .im01 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-160%, -60%) rotate(-35deg);
}
.pofol .img_box .im02 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, -120%) rotate(-35deg);
}
.pofol .img_box .im03 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-80%, 220%) rotate(-35deg);
}
.pofol .img_box .im04 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(430%, 200%) rotate(-35deg);
}
.pofol .txt_box {
  text-align: right;
  transform: translate(100%, 0);
  visibility: hidden;
  transition: 0.3s;
}
.pofol .txt_box .tit {
  position: relative;
  margin: 0 0 4rem 0;
}
.pofol .txt_box .tit::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2rem;
  width: 3rem;
  height: 3px;
  background: #ffdb00;
}
.pofol .txt_box .tit span {
  display: block;
  font-weight: 500;
  color: #888;
  margin: 0 0 1.2rem 0;
}
.pofol .txt_box .tit h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.pofol .txt_box .txt {
  position: relative;
  margin: 0 0 6rem 0;
}
.pofol .txt_box .txt .list li {
  padding: 0 0 1.7rem 0;
  font-weight: 700;
  color: #888;
}
.pofol .txt_box .txt .list .tools {
  padding: 0 0 1.5rem 0;
}
.pofol .txt_box .txt .con {
  position: absolute;
  top: 0;
  right: 9rem;
  width: 59rem;
}
.pofol .txt_box .txt .con li {
  padding: 0 0 1.4rem 0;
}
.pofol .txt_box .txt .con .color span {
  display: inline-block;
  padding: 0.4rem 2.4rem;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 500;
}
.pofol .txt_box .txt .con .tools span {
  color: #222;
  font-weight: 700;
  padding: 0 4px;
  background: #ffdb00;
}
.pofol .txt_box .txt .con .info {
  line-height: 1.4;
}
.pofol .txt_box .txt .con .info span {
  color: #222;
  font-weight: 700;
  padding: 0 4px;
  background: #ffdb00;
}
.pofol .txt_box .link {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.pofol .txt_box .link li {
  color: #222;
}
.pofol .txt_box .link li a {
  display: block;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  background: #fff;
}
.pofol .txt_box .link .website a {
  background: #ffdb00;
}
.pofol.on .img_box .im01 {
  position: absolute;
  top: 5%;
  left: 2%;
  transform: translate(-20%, 51%) rotate(-35deg);
  transition: 0.5s 0.5s;
  visibility: visible;
}
.pofol.on .img_box .im02 {
  position: absolute;
  top: 5%;
  left: 2%;
  transform: translate(14%, -22%) rotate(-35deg);
  transition: 0.5s 1s;
  visibility: visible;
}
.pofol.on .img_box .im03 {
  position: absolute;
  top: 5%;
  left: 2%;
  transform: translate(-20%, 150%) rotate(-35deg);
  transition: 0.5s 1.5s;
  visibility: visible;
}
.pofol.on .img_box .im04 {
  position: absolute;
  top: 5%;
  left: 2%;
  transform: translate(270%, 85%) rotate(-35deg);
  transition: 0.5s 2s;
  visibility: visible;
}
.pofol.on .txt_box {
  transform: translate(0, 0);
  visibility: visible;
}

@media (max-width: 768px) {
  .pofol {
    transition: 0.5s;
    overflow: hidden;
  }
  .pofol .img_box {
    display: none;
  }
  .pofol .txt_box {
    position: absolute;
    bottom: 4rem;
    left: 0;
    transform: translate(-100%, 0);
    text-align: left;
    visibility: hidden;
    transition: 0.5s 0.5s;
  }
  .pofol .txt_box .tit {
    position: relative;
    margin: 0 0 4rem 2rem;
  }
  .pofol .txt_box .tit::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 3rem;
    height: 3px;
    background: #ffdb00;
  }
  .pofol .txt_box .tit span {
    font-size: 1.4rem;
    display: block;
    font-weight: 500;
    color: #888;
    margin: 0 0 0.8rem 0;
  }
  .pofol .txt_box .tit h3 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .pofol .txt_box .txt {
    position: relative;
    margin: 0 0 14rem 2rem;
  }
  .pofol .txt_box .txt .list li {
    padding: 0 0 1.9rem 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ddd;
  }
  .pofol .txt_box .txt .list .tools {
    padding: 0 0 6rem 0;
  }
  .pofol .txt_box .txt .con {
    position: absolute;
    top: 0;
    left: 7rem;
    width: 60vw;
  }
  .pofol .txt_box .txt .con li {
    font-size: 1.4rem;
    padding: 0 0 1.4rem 0;
  }
  .pofol .txt_box .txt .con .color span {
    display: inline-block;
    border-radius: 3px;
    padding: 0.4rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .pofol .txt_box .txt .con .tools {
    line-height: 1.4;
  }
  .pofol .txt_box .txt .con .tools span {
    color: #222;
    font-weight: 700;
    padding: 0 4px;
    background: #ffdb00;
  }
  .pofol .txt_box .txt .con .info {
    line-height: 1.4;
  }
  .pofol .txt_box .txt .con .info span {
    color: #222;
    font-weight: 700;
    padding: 0 4px;
    background: #ffdb00;
  }
  .pofol .txt_box .link {
    position: relative;
    width: 90vw;
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
  }
  .pofol .txt_box .link li {
    color: #222;
    width: 100%;
    text-align: center;
  }
  .pofol .txt_box .link li a {
    display: block;
    padding: 1rem 0;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    background: #fff;
  }
  .pofol .txt_box .link .website a {
    background: #ffdb00;
  }
  .pofol.on .img_box .top, .pofol.on .img_box .bot {
    transform: translate(0, 0);
    visibility: visible;
  }
  .pofol.on .txt_box {
    transform: translate(0, 0);
    visibility: visible;
  }
  .pofol.on {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
  }
}
.tranning {
  background: #000;
}
.tranning ul {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.tranning ul li {
  overflow: hidden;
  border-radius: 1rem;
  background: #111;
}
.tranning ul li a .img_box {
  margin: 0 0 2.4rem 0;
}
.tranning ul li a span {
  padding: 0 1.5rem;
  display: block;
  margin: 0 0 1.2rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.tranning ul li a p {
  padding: 0 1.5rem;
  color: #aaa;
  margin: 0 0 4rem 0;
}

@media (max-width: 768px) {
  .tranning ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 2.5rem;
  }
  .tranning ul li {
    overflow: hidden;
    border-radius: 1rem;
    background: #111;
  }
  .tranning ul li a .img_box {
    margin: 0 0 1.2rem 0;
  }
  .tranning ul li a span {
    padding: 0 1.5rem;
    display: block;
    margin: 0 0 1.2rem 0;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .tranning ul li a p {
    font-size: 1.3rem;
    padding: 0 1.5rem;
    color: #aaa;
    margin: 0 0 1.2rem 0;
  }
}
.info .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}
.info .inner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 30rem;
  height: 1px;
  z-index: -1;
  transform: translate(-21rem, -53rem) rotate(288deg);
  transform-origin: right top;
}
.info .inner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 30rem;
  height: 1px;
  transform: translate(-9.2rem, -53rem) rotate(72deg);
  transform-origin: left top;
}
.info .inner .info_wrap {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 40rem;
  height: 56rem;
  border-radius: 1rem;
}
.info .inner .info_wrap::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5rem;
  background: #000;
  width: 10rem;
  height: 1rem;
}
.info .inner .info_wrap .img_box {
  width: 34rem;
  height: 20rem;
  margin: 7rem auto 1rem auto;
  background: #000;
  border-radius: 1rem;
  overflow: hidden;
}
.info .inner .info_wrap > span {
  display: block;
  text-align: right;
  color: #888;
  font-size: 1.4rem;
  padding-right: 3rem;
  margin: 0 0 3rem 0;
}
.info .inner .info_wrap .txt_box {
  padding-left: 3rem;
  text-align: left;
  display: flex;
  gap: 4rem;
}
.info .inner .info_wrap .txt_box > * li {
  line-height: 3rem;
}
.info .inner .info_wrap .txt_box .menu li {
  font-weight: 500;
  color: #aaa;
}
.info.on .info_wrap {
  animation: swing 3s 2;
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media (max-width: 768px) {
  .info .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
  }
  .info .inner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 30rem;
    height: 1px;
    z-index: -1;
    transform: translate(-21rem, -48rem) rotate(288deg);
    transform-origin: right top;
  }
  .info .inner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 30rem;
    height: 1px;
    transform: translate(-9.2rem, -48rem) rotate(72deg);
    transform-origin: left top;
  }
  .info .inner .info_wrap {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    width: 30rem;
    height: 46rem;
  }
  .info .inner .info_wrap::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5rem;
    background: #000;
    width: 10rem;
    height: 1rem;
  }
  .info .inner .info_wrap .img_box {
    width: 26rem;
    height: 16rem;
    margin: 6rem auto 1rem auto;
    background: #000;
    border-radius: 1rem;
    overflow: hidden;
  }
  .info .inner .info_wrap > span {
    display: block;
    text-align: right;
    color: #888;
    font-size: 1.3rem;
    padding-right: 2rem;
    margin: 0 0 2rem 0;
  }
  .info .inner .info_wrap .txt_box {
    padding-left: 2rem;
    text-align: left;
    display: flex;
    gap: 2rem;
  }
  .info .inner .info_wrap .txt_box > * li {
    line-height: 2.6rem;
    font-size: 1.5rem;
  }
  .info .inner .info_wrap .txt_box .menu li {
    font-weight: 500;
    color: #aaa;
  }
  .info.on .info_wrap {
    animation: swing 3s 2;
  }
}/*# sourceMappingURL=style.css.map */