.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;
    line-height: 60px;
    padding: 0 235px;

    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.btn_link {
    position: fixed;
    top: 26px;
    right: 268px;
    z-index: 1000;
    transform: translate(0, 0);
    text-align: right;
}

.btn_link ul {
    display: flex;
    gap: 16px;
}

.btn_link ul li a {
    display: block;
    font-size: 0;
    padding: 0 8px;
    position: relative;
}

.btn_link ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 13px;
    background: #888;
    transition: 0.5s;
}

.btn_link ul li a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 1px;
    background: #888;
    transition: 0.5s;
}

.btn_link ul li.on a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background: #222;
}

.btn_link ul li.on a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background: #222;
}

.cover {
    display: none;
}


#intro {
    display: flex;
    align-items: center;
}

#intro h2 {
    width: 990px;
    margin: 0 auto 100px auto;
}

#intro .txt_box {
    display: flex;
}

#intro .txt_box strong {
    display: inline-block;
    margin: 0 0 0 auto;
}

#intro h2 span {
    display: inline-block;
    width: 120px;
    line-height: 120px;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}

#intro h2 span:nth-child(odd) {
    border: 1px solid #eee;
    color: #222;
}

.pofol .img_box {
    position: relative;
    flex: 2;
}

.pofol .img_box>* {
    border: 4px solid #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.pofol .web {
    width: 900px;
    height: 506px;
}

.pofol .web:hover img {
    transition: 5s;
    transform: translate(0, calc(-100% + 506px));
}

.pofol.on .web img {
    animation: scroll_web 2s;
}

@keyframes scroll_web {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -50px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.pofol .mobile {
    position: absolute;
    top: 50%;
    left: -200px;
    transform: translate(0, -50%);

    width: 260px;
    height: 462px;
}

.pofol:nth-child(odd) .mobile {
    position: absolute;
    top: 50%;
    left: auto;
    right: -120px;
    transform: translate(0, -50%);

    width: 260px;
    height: 457px;
}

.pofol .mobile:hover img {
    transition: 15s;
    transform: translate(0, calc(-100% + 457px));
}

.pofol.on .mobile img {
    animation: scroll_mob 2s 1s;
}

@keyframes scroll_mob {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -50px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.pofol .txt_box {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.pofol .txt {
    position: relative;
    padding: 40px 0;
}

.pofol .txt .con {
    position: absolute;
    top: 105px;
    left: 75px;
}

.pofol .txt li {
    font-weight: 700;
    line-height: 32px;
}

.pofol .txt li span {
    font-size: 14px;
    color: #888;
    font-weight: 400;
}

.pofol .txt .title {
    font-size: 24px;
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
    border-bottom: 1px solid #ddd;
}

.pofol .txt .title span {
    font-size: 18px;
    padding: 0 0 0 16px;
}

#portfolio01 .txt .list .tools,
#portfolio02 .txt .list .tools,
#portfolio03 .txt .list .tools,
#portfolio04 .txt .list .tools {
    margin: 0 0 16px 0;
}

#portfolio05 .txt .con .tools,
#portfolio06 .txt .con .tools {
    margin: 0 0 10px 0;
}

.pofol .txt .con .tools,
.pofol .txt .con .info {
    line-height: 24px;
}

.pofol .txt .con .tools {
    margin: 2px 0 0 0;
}

.pofol .txt .color {
    display: flex;
    align-items: center;
    height: 32px;
}

.pofol .txt .color span {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0;
}

.pofol .txt .color span~span {
    margin: 0 0 0 8px;
}

.pofol .link {
    display: flex;
    gap: 12px;
    margin: 56px 0 0 0;
}

.pofol .link li a {
    padding: 8px 40px;
    background: #666;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}

.pofol .link .figma a {
    background: #fff;
    border: 1px solid #ddd;
    color: inherit;
}

#porfile .f_inner {
    max-width: 1400px;
    margin: 0 auto;
}

#profile .f_inner>.box {
    display: flex;
    gap: 30px;
}

#profile .box>* {
    /* flex: 1; */
    width: 330px;
}

#profile .info {
    display: flex;
    flex-direction: column;
}

#profile .info .img_box {
    width: 330px;
    height: 330px;
    border: 1px solid #222;
    line-height: 330px;
    text-align: center;
    margin: 0 0 24px;
    background: #fff;
}

#profile .info .txt_box {
    display: flex;
    gap: 38px;
    padding: 0 16px;
    line-height: 26px;
}

#profile .info .txt_box .tit {
    font-weight: 700;
}

#profile .info .txt_box .txt {
    color: #888;
}

#profile h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

#profile .ecu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile .ecu .education strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

#profile .ecu .education span {
    display: inline-block;
    color: #888;
    margin: 0 0 0 16px;
}


#profile .ecu .exprience strong {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

#profile .ecu .exprience li {
    display: flex;
}

#profile .ecu .exprience li~li {
    margin: 24px 0 0 0;
}

#profile .ecu .exprience .box {
    display: flex;
    flex-direction: column;
}

#profile .ecu .exprience p {
    margin: 0 0 4px 16px;
    font-weight: 500;
}

#profile .ecu .exprience span {
    display: block;
    color: #888;
    margin: 0 0 0 16px;
}

#profile .cert strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

#profile .cert span {
    display: inline-block;
    color: #888;
    margin: 0 0 0 16px;
}

#profile .skill ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    row-gap: 16px;
}
#profile .skill li {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #ddd;
    background: #fff;
}