@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.inner {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.inner .txt_box {
  text-align: right;
}

.section {
  height: 100vh;
}
.section h2 {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  writing-mode: vertical-rl;
  color: #fff;
  opacity: 0;
}
.section.on h2 {
  opacity: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.btn_link {
  position: fixed;
  top: 15rem;
  right: 3.2rem;
  z-index: 999;
}
.btn_link ul {
  position: relative;
}
.btn_link ul::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100vh - 30rem);
  background: #fff;
}
.btn_link ul li a {
  display: block;
  position: relative;
  font-size: 0;
  padding: 0 8px;
}
.btn_link ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: red;
}
.btn_link ul li.on a::before {
  width: 4px;
  height: 4rem;
  background: blue;
}

.int {
  background: #000;
  z-index: -1;
  color: #f9f9f9;
  overflow: hidden;
}
.int .inner {
  text-align: right;
}
.int .inner h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0 2.4rem 0;
}
.int .inner p {
  margin: 0 0 20rem 0;
  line-height: 1.5;
}
.int .inner p span {
  position: relative;
  color: #000;
  font-weight: 500;
}
.int .inner p span::before {
  content: "";
  width: 105%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFDB00;
}
.int .gooey01 {
  filter: url(#goo);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.int .gooey01::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: #ffd900;
  animation: goo01 8s infinite;
}
.int .gooey01::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 21.8rem;
  width: 1px;
  height: 68rem;
  background: #fff;
}
.int .gooey02 {
  filter: url(#goo);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.int .gooey02::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffd900;
  animation: goo02 8s 8s infinite;
}
.int .gooey02::before {
  content: "";
  position: absolute;
  bottom: 7rem;
  left: 8.8rem;
  width: 1px;
  height: 30rem;
  background: #fff;
  transform: rotate(-120deg);
}
.int .gooey03 {
  filter: url(#goo);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.int .gooey03::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: #ffd900;
  animation: goo03 8s infinite;
}
.int .gooey03::before {
  content: "";
  position: absolute;
  bottom: -74.6rem;
  left: 110.7rem;
  width: 1px;
  height: 180rem;
  background: #fff;
  transform: rotate(-81deg);
}

@keyframes goo01 {
  0% {
    top: 0;
    left: 20.6rem;
  }
  90% {
    left: 21.3rem;
    width: 1rem;
    height: 1rem;
    opacity: 1;
  }
  100% {
    top: 66rem;
    left: 21rem;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0;
  }
}
@keyframes goo02 {
  0% {
    bottom: 28.9rem;
    left: 21rem;
  }
  100% {
    bottom: 16.5rem;
    left: -5px;
  }
}
#portfolio01 {
  background: url(../../images/sec01_bg.png) no-repeat center top/cover;
  background-blend-mode: multiply;
  background-color: #111;
}/*# sourceMappingURL=style.css.map */