@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin background-cover {
    background-blend-mode: multiply;
    background-color: #111;
}