.int {
    background: #111;
    z-index: -1;
    color: $w-color;
    overflow: hidden;
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        top: 70vh;
        left: 14vw;
        width: 1px;
        height: 180rem;
        background: #fff;
        transform-origin: left top;
        transform: rotate(-81deg);
    }

    &::after {
        content: '';
        position: absolute;
        top: 70vh;
        left: 14vw;
        width: 1px;
        height: 40rem;
        background: rgb(255, 255, 255);
        transform-origin: right top;
        transform: rotate(65deg);
    }

    .gooey {
        filter: url(#goo);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background: #ffffff;
            transform: rotate(45deg);
            animation: before 5s linear infinite;
        }

        &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background: $point-color;
            transform: rotate(45deg);
            animation: after 5s linear infinite;
        }

        @keyframes before {
            0% {
                top: -40px;
                left: 13.9vw;
                border-radius: 50%;
            }

            97% {
                top: 69.5vh;
                left: 13.8vw;
                width: 10px;
                height: 10px;
                transform: rotate(360deg);
                opacity: 1;
            }

            100% {
                top: 68vh;
                left: 12vw;
                width: 15px;
                height: 15px;
                opacity: 0;
            }
        }

        @keyframes after {
            0% {
                top: -40px;
                left: 13.9vw;
                border-radius: 50%;
            }

            97% {
                top: 70vh;
                left: 13.8vw;
                width: 10px;
                height: 10px;
                transform: rotate(-360deg);
                opacity: 1;
            }

            100% {
                top: 68vh;
                left: 15vw;
                width: 15px;
                height: 15px;
                opacity: 0;
            }
        }

    }

    .inner {
        text-align: right;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 14vw;
            width: 1px;
            height: 70vh;
            background: #fff;
        }

        h1 {
            font-size: 4.0rem;
            font-weight: 700;
            margin: 0 0 2.4rem 0;
        }

        p {
            margin: 0 0 20rem 0;
            line-height: 1.5;

            span {
                position: relative;
                color: $b-color;
                font-weight: 500;

                &::before {
                    content: '';
                    width: 105%;
                    height: 100%;
                    z-index: -1;
                    @include position-center();
                    background: #FFDB00;
                }
            }
        }
    }

    .txt_box {
        position: absolute;
        left: 20px;
        bottom: 20px;
        display: flex;
        align-items: center;
        user-select: none;

        .browse {
            display: inline-block;
            font-size: 18px;
            color: #888;
            margin-right: 10px;
        }
        p {
            display: inline-block;
            color: #666;
            padding-right: 20px;
        }
    }
}

@media (max-width: 1600px) {
    .int {
        background: $b-color;
        z-index: -1;
        color: $w-color;
        overflow: hidden;
    
        &::before {
            content: "";
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 180rem;
            background: #fff;
            transform-origin: left top;
            transform: rotate(-81deg);
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 40rem;
            background: rgb(255, 255, 255);
            transform-origin: right top;
            transform: rotate(65deg);
        }
    
        .gooey {
            filter: url(#goo);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
    
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                background: #ffffff;
                transform: rotate(45deg);
                animation: before 5s linear infinite;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                background: $point-color;
                transform: rotate(45deg);
                animation: after 5s linear infinite;
            }
    
            @keyframes before {
                0% {
                    top: -40px;
                    left: 13.8vw;
                    border-radius: 50%;
                }
    
                97% {
                    top: 69.5vh;
                    left: 13.8vw;
                    width: 10px;
                    height: 10px;
                    transform: rotate(360deg);
                    opacity: 1;
                }
    
                100% {
                    top: 68vh;
                    left: 12vw;
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                }
            }
    
            @keyframes after {
                0% {
                    top: -40px;
                    left: 13.8vw;
                    border-radius: 50%;
                }
    
                97% {
                    top: 70vh;
                    left: 13.8vw;
                    width: 10px;
                    height: 10px;
                    transform: rotate(-360deg);
                    opacity: 1;
                }
    
                100% {
                    top: 68vh;
                    left: 15vw;
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                }
            }
    
        }
    
        .inner {
            text-align: right;
            padding: 0 8rem 0 0;
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 14vw;
                width: 1px;
                height: 70vh;
                background: #fff;
            }
    
            h1 {
                font-size: 4.0rem;
                font-weight: 700;
                margin: 0 0 2.4rem 0;
            }
    
            p {
                margin: 0 0 20rem 0;
                line-height: 1.5;
    
                span {
                    position: relative;
                    color: $b-color;
                    font-weight: 500;
    
                    &::before {
                        content: '';
                        width: 105%;
                        height: 100%;
                        z-index: -1;
                        @include position-center();
                        background: #FFDB00;
                    }
                }
            }
        }

        .txt_box {
            position: absolute;
            left: 15px;
            bottom: 15px;
            display: flex;
            align-items: center;
            user-select: none;
    
            .browse {
                display: inline-block;
                font-size: 20px;
                color: #888;
                margin-right: 10px;
            }
            p {
                display: inline-block;
                color: #666;
                font-size: 14px;
                padding-right: 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    .int {
        background: $b-color;
        z-index: -1;
        color: $w-color;
        overflow: hidden;
    
        &::before {
            content: "";
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 180rem;
            background: #fff;
            transform: rotate(-81deg);
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 40rem;
            background: rgb(255, 255, 255);
            transform-origin: right top;
            transform: rotate(65deg);
        }
    
        .gooey {
            filter: url(#goo);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
    
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                background: #fff2de;
                transform: rotate(45deg);
                animation: before 5s infinite;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                background: $point-color;
                z-index: -1;
                transform: rotate(45deg);
                animation: after 5s infinite;
            }
    
            @keyframes before {
                0% {
                    top: -43px;
                    left: 13.5vw;
                    border-radius: 50%;
                }
    
                97% {
                    top: 69.4vh;
                    left: 13vw;
                    width: 1rem;
                    height: 1rem;
                    transform: rotate(360deg);
                    border-radius: 50%;
                    opacity: 1;
                }
    
                98% {
                    top: 68vh;
                    left: 10vw;
                    width: 4rem;
                    height: 4rem;
                    opacity: 0.2;
                }

                100% {
                    top: 64vh;
                    left: 4vw;
                    width: 8rem;
                    height: 8rem;
                    opacity: 0;
                }
            }
    
            @keyframes after {
                0% {
                    top: -40px;
                    left: 13.5vw;
                    border-radius: 50%;
                }
    
                97% {
                    top: 69.5vh;
                    left: 13vw;
                    width: 10px;
                    height: 10px;
                    transform: rotate(-360deg);
                    background: $point-color;
                    border-radius: 0;
                    opacity: 1;
                }

                98% {
                    top: 68vh;
                    left: 10vw;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    opacity: 0.2;
                }
    
                100% {
                    top: 64vh;
                    left: 4vw;
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;
                    opacity: 0;
                    background: #fff;
                }
            }
    
        }
    
        .inner {
            text-align: right;
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 14vw;
                width: 1px;
                height: 70vh;
                background: #fff;
            }

            .title {
                position: absolute;
                right: 5.6rem;
                top: 50%;
                transform: translate(0, -50%);
                h1 {
                    font-size: 8vw;
                    font-weight: 900;
                    margin: 0 0 1.6rem 0;
                }
        
                p {
                    font-size: 3vw;
                    margin: 0 0 0 0;
                    line-height: 1.5;
        
                    span {
                        font-size: 3vw;
                        position: relative;
                        color: $b-color;
                        font-weight: 500;
        
                        &::before {
                            content: '';
                            width: 105%;
                            height: 100%;
                            z-index: -1;
                            @include position-center();
                            background: #FFDB00;
                        }
                    }
                }
            }
    
        }
    }
}