.int {
    background: $background-color fixed;
    z-index: -1;
    color: $w-color;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 70vh;
        left: 14vw;
        width: 1px;
        height: 180rem;
        background: #fff;
        transform-origin: left top;
        transform: rotate(-81deg);
    }

    &::after {
        content: '';
        position: absolute;
        top: 70vh;
        left: 14vw;
        width: 1px;
        height: 40rem;
        background: rgb(255, 255, 255);
        transform-origin: right top;
        transform: rotate(65deg);
    }

    .gooey {
        filter: url(#goo);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
            background: #ffea71;
            transform: rotate(45deg);
            animation: before 5s linear infinite;
        }

        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
            background: #ffd900;
            transform: rotate(45deg);
            animation: after 5s linear infinite;
        }

        @keyframes before {
            0% {
                top: -40px;
                left: 13.4vw;
            }

            98% {
                top: 69vh;
                left: 13.8vw;
                width: 10px;
                height: 10px;
                opacity: 1;
            }

            100% {
                top: 69vh;
                left: 13vw;
                width: 15px;
                height: 15px;
                opacity: 0;
            }
        }

        @keyframes after {
            0% {
                top: -40px;
                left: 13.5vw;
            }

            98% {
                top: 70vh;
                left: 13.8vw;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                opacity: 1;
            }

            100% {
                top: 68vh;
                left: 14.5vw;
                width: 5px;
                height: 5px;
                opacity: 0;
                border-radius: 50%;
            }
        }

    }

    .inner {
        text-align: right;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 14vw;
            width: 1px;
            height: 70vh;
            background: #fff;
        }

        h1 {
            font-size: 4.0rem;
            font-weight: 700;
            margin: 0 0 2.4rem 0;
        }

        p {
            margin: 0 0 20rem 0;
            line-height: 1.5;

            span {
                position: relative;
                color: $background-color;
                font-weight: 500;

                &::before {
                    content: '';
                    width: 105%;
                    height: 100%;
                    z-index: -1;
                    @include position-center();
                    background: #FFDB00;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .int {
        background: $background-color;
        z-index: -1;
        color: $w-color;
        overflow: hidden;
    
        &::before {
            content: "";
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 180rem;
            background: #fff;
            transform-origin: left top;
            transform: rotate(-81deg);
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 40rem;
            background: rgb(255, 255, 255);
            transform-origin: right top;
            transform: rotate(65deg);
        }
    
        .gooey {
            filter: url(#goo);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
    
            &::before {
                content: "";
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
                background: #ffea71;
                transform: rotate(45deg);
                animation: before 5s linear infinite;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
                background: #ffd900;
                transform: rotate(45deg);
                animation: after 5s linear infinite;
            }
    
            @keyframes before {
                0% {
                    top: -40px;
                    left: 13vw;
                }
    
                98% {
                    top: 69vh;
                    left: 13.5vw;
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                }
    
                100% {
                    top: 69vh;
                    left: 13vw;
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                }
            }
    
            @keyframes after {
                0% {
                    top: -40px;
                    left: 13vw;
                }
    
                98% {
                    top: 70vh;
                    left: 13.5vw;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    opacity: 1;
                }
    
                100% {
                    top: 68vh;
                    left: 14.5vw;
                    width: 5px;
                    height: 5px;
                    opacity: 0;
                    border-radius: 50%;
                }
            }
    
        }
    
        .inner {
            text-align: right;
            padding: 0 8rem 0 0;
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 14vw;
                width: 1px;
                height: 70vh;
                background: #fff;
            }
    
            h1 {
                font-size: 4.0rem;
                font-weight: 700;
                margin: 0 0 2.4rem 0;
            }
    
            p {
                margin: 0 0 20rem 0;
                line-height: 1.5;
    
                span {
                    position: relative;
                    color: $background-color;
                    font-weight: 500;
    
                    &::before {
                        content: '';
                        width: 105%;
                        height: 100%;
                        z-index: -1;
                        @include position-center();
                        background: #FFDB00;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .int {
        background: $background-color;
        z-index: -1;
        color: $w-color;
        overflow: hidden;
    
        &::before {
            content: "";
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 180rem;
            background: #fff;
            transform: rotate(-81deg);
        }
    
        &::after {
            content: '';
            position: absolute;
            top: 70vh;
            left: 14vw;
            width: 1px;
            height: 40rem;
            background: rgb(255, 255, 255);
            transform-origin: right top;
            transform: rotate(65deg);
        }
    
        .gooey {
            filter: url(#goo);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
    
            &::before {
                content: "";
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
                background: #ffea71;
                transform: rotate(45deg);
                animation: before 5s linear infinite;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
                background: #ffd900;
                transform: rotate(45deg);
                animation: after 5s linear infinite;
            }
    
            @keyframes before {
                0% {
                    top: -40px;
                    left: 11vw;
                }
    
                98% {
                    top: 69vh;
                    left: 13vw;
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                }
    
                100% {
                    top: 69vh;
                    left: 12vw;
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                }
            }
    
            @keyframes after {
                0% {
                    top: -40px;
                    left: 11vw;
                }
    
                98% {
                    top: 70vh;
                    left: 13vw;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    opacity: 1;
                }
    
                100% {
                    top: 68vh;
                    left: 14vw;
                    width: 5px;
                    height: 5px;
                    opacity: 0;
                    border-radius: 50%;
                }
            }
    
        }
    
        .inner {
            text-align: right;
            padding: 0 6rem 0 0;
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 14vw;
                width: 1px;
                height: 70vh;
                background: #fff;
            }
    
            h1 {
                font-size: 4.8vw;
                font-weight: 700;
                margin: 0 0 1.6rem 0;
            }
    
            p {
                font-size: 3vw;
                margin: 0 0 20rem 0;
                line-height: 1.5;
    
                span {
                    font-size: 3vw;
                    position: relative;
                    color: $background-color;
                    font-weight: 500;
    
                    &::before {
                        content: '';
                        width: 105%;
                        height: 100%;
                        z-index: -1;
                        @include position-center();
                        background: #FFDB00;
                    }
                }
            }
        }
    }
}