.pofol {
    
    
    overflow: hidden;

    .img_box {
        position: absolute;
        top: 10%;
        left: -20%;
        transform: rotate(-35deg);

        .top {
            margin: 0px 0 3rem 44rem;

            img {
                margin: 0 3rem 0 0;
                border-radius: 2rem;
            }
        }

        .bot {
            img {
                margin: 0 3rem 0 0;
                border-radius: 2rem;
            }
        }
    }

    .txt_box {
        text-align: right;

        .tit {
            position: relative;
            margin: 0 0 4rem 0;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -2rem;
                width: 3rem;
                height: 3px;
                background: #ffdb00;
            }

            span {
                display: block;
                font-weight: 500;
                color: #888;
                margin: 0 0 1.2rem 0;
            }

            h3 {
                font-size: 3.2rem;
                font-weight: 700;
            }
        }

        .txt {
            position: relative;
            margin: 0 0 6rem 0;

            .list {
                li {
                    padding: 0 0 1.6rem 0;
                }

                .tools {
                    padding: 0 0 1.9rem 0;
                }
            }

            .con {
                position: absolute;
                top: 0;
                right: 9rem;
                width: 59rem;

                li {
                    padding: 0 0 1.6rem 0;
                }

                .color {
                    display: flex;
                    gap: .8rem;
                    justify-content: flex-end;

                    span {
                        display: block;
                        width: 16px;
                        height: 16px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        font-size: 0;
                    }
                }

                .tools {
                    span {
                        color: #222;
                        font-weight: 700;
                        padding: 0 4px;
                        background: #ffdb00;
                    }
                }

                .info {
                    line-height: 1.4;
                }
            }

        }

        .link {
            display: flex;
            gap: 2rem;
            justify-content: flex-end;

            li {
                a {
                    display: block;
                    padding: 6px 20px;
                    background: #ffdb00;
                    border-radius: 5px;
                    color: #222;
                    font-weight: 700;
                    font-size: 1.4rem;
                }
            }

            .figma {
                a {
                    background: #fff;
                }
            }
        }
    }
}