.pofol {
    overflow: hidden;

    .img_box_odd {
        position: absolute;
        width: 84rem;
        height: 90rem;
        overflow: hidden;
        top: 50%;
        left: 10.5rem;
        transform: translate(-150%, -50%);
        border-radius: 2rem;
        z-index: 999;
        opacity: 0.8;
        transition: .5s .5s;

        img {
            transition: 3s;
        }

        &:hover {
            opacity: 1;
        }

        &:hover img {
            transform: translate(0, calc(-100% + 90rem));
        }
    }

    .img_box {
        position: absolute;
        top: 10%;
        left: -20%;
        transform: rotate(-35deg);
        z-index: 999;

        &>* img {
            margin: 0 3rem 0 0;
            border-radius: 2rem;
            filter: brightness(80%);
            transition: .5s;

            &:hover {
                filter: brightness(100%);
            }
        }

        .top {
            margin: 0 0 3rem 44rem;
            transform: translate(-150%, 0);
            visibility: hidden;
            transition: .5s .5s;
        }

        .bot {
            transform: translate(-150%, 0);
            visibility: hidden;
            transition: .5s .8s;
        }
    }

    .txt_box {
        text-align: right;
        transform: translate(100%, 0);
        visibility: hidden;
        transition: .3s;

        .tit {
            position: relative;
            margin: 0 0 4rem 0;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -2rem;
                width: 3rem;
                height: 3px;
                background: #ffdb00;
            }

            span {
                display: block;
                font-weight: 500;
                color: #888;
                margin: 0 0 1.2rem 0;
            }

            h3 {
                font-size: 3.2rem;
                font-weight: 700;
            }
        }

        .txt {
            position: relative;
            margin: 0 0 6rem 0;

            .list {
                li {
                    padding: 0 0 1.7rem 0;
                    font-weight: 700;
                    color: #888;
                }

                .tools {
                    padding: 0 0 1.5rem 0;
                }
            }

            .con {
                position: absolute;
                top: 0;
                right: 9rem;
                width: 59rem;

                li {
                    padding: 0 0 1.4rem 0;
                }

                .color {
                    span {
                        display: inline-block;
                        padding: 0.4rem 2.4rem;
                        font-size: 1.4rem;
                        font-weight: 500;
                    }
                }

                .tools {
                    span {
                        color: #222;
                        font-weight: 700;
                        padding: 0 4px;
                        background: #ffdb00;
                    }
                }

                .info {
                    line-height: 1.4;

                    span {
                        color: #222;
                        font-weight: 700;
                        padding: 0 4px;
                        background: #ffdb00;
                    }
                }
            }

        }

        .link {
            display: flex;
            gap: 2rem;
            justify-content: flex-end;

            li {
                color: #222;

                a {
                    display: block;
                    padding: 0.6rem 2rem;
                    border-radius: 0.5rem;
                    font-weight: 700;
                    font-size: 1.4rem;
                    background: #fff;
                }
            }

            .website {
                a {
                    background: #ffdb00;
                }
            }
        }
    }

    &.on .img_box_odd {
        transform: translate(0, -50%);
        visibility: visible;
    }

    &.on .img_box .top,
    &.on .img_box .bot {
        transform: translate(0, 0);
        visibility: visible;
    }

    &.on .txt_box {
        transform: translate(0, 0);
        visibility: visible;
    }
}

@media (max-width:768px) {
    .pofol {
        transition: .5s;
        overflow: hidden;

        .img_box_odd {
            display: none;
        }

        .img_box {
            display: none;
        }

        .txt_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -50%);
            text-align: right;
            visibility: hidden;
            transition: .5s .5s;

            .tit {
                position: relative;
                margin: 0 0 4rem 0;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -2rem;
                    width: 3rem;
                    height: 3px;
                    background: #ffdb00;
                }

                span {
                    font-size: 1.4rem;
                    display: block;
                    font-weight: 500;
                    color: #888;
                    margin: 0 0 0.8rem 0;
                }

                h3 {
                    font-size: 2.4rem;
                    font-weight: 700;
                }
            }

            .txt {
                position: relative;
                margin: 0 0 14rem 0;

                .list {
                    li {
                        padding: 0 0 1.7rem 0;
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: #ddd;
                    }

                    .color {
                        padding: 0 0 2rem 0;
                    }

                    .tools {
                        padding: 0 0 5.5rem 0;
                    }
                }

                .con {
                    position: absolute;
                    top: 0;
                    right: 7rem;
                    width: 60vw;

                    li {
                        font-size: 1.4rem;
                        padding: 0 0 1.4rem 0;
                    }

                    .color {
                        span {
                            display: inline-block;
                            padding: 0.4rem 2rem;
                            font-size: 1.3rem;
                            font-weight: 500;
                        }
                    }

                    .tools {
                        line-height: 1.4;

                        span {
                            color: #222;
                            font-weight: 700;
                            padding: 0 4px;
                            background: #ffdb00;
                        }
                    }

                    .info {
                        line-height: 1.4;

                        span {
                            color: #222;
                            font-weight: 700;
                            padding: 0 4px;
                            background: #ffdb00;
                        }
                    }
                }

            }

            .link {
                display: flex;
                gap: 1.5rem;
                justify-content: flex-end;

                li {
                    color: #222;

                    a {
                        display: block;
                        padding: 0.6rem 2rem;
                        border-radius: 0.5rem;
                        font-weight: 700;
                        font-size: 1.4rem;
                        background: #fff;
                    }
                }

                .website {
                    a {
                        background: #ffdb00;
                    }
                }
            }
        }

        &.on .img_box_odd {
            transform: translate(0, -50%);
            visibility: visible;
        }

        &.on .img_box .top,
        &.on .img_box .bot {
            transform: translate(0, 0);
            visibility: visible;
        }

        &.on .txt_box {
            transform: translate(-50%, -50%);
            visibility: visible;
        }

        &.on {
            background-color: #222;
            background-blend-mode: multiply;
        }
    }

}